body{
  // background: url('.././assets/blogBG1.jpeg') no-repeat;
  background-size: cover;
  background-attachment:fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background: hsla(0, 0%, 100%, 0.6);
}
 
::-webkit-scrollbar-track {
  border-radius: 0;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95,95,95,.4);
  transition: all .2s;
  border-radius: .5rem;
 
  &:hover {
    background-color: rgba(95,95,95, .7);
  }
}
body,
html {
  height: 100%;
  width: 100%;
}
canvas{
  display:block;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,
/* list elements 列表元素 */

pre,
/* text formatting elements 文本格式元素 */

fieldset,
button,
input,
textarea,
/* form elements 表单元素 */

th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}

img {
  vertical-align: top;
  border: none
}

.main-home {
  @media screen and (max-width: 1260px) {
    .main-home-body-slot, .main-home-body-center-text, .main-home-body-bottom-text {
      display: none;
    }
  }
  .main-home-header {
    width: 100%;
    height: 80px;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    box-shadow: 0 2px 8px rgba(0,0,0,.6);
    transition: background-color 0.3s ease-in-out;
    .main-home-header-left {
      width: 30%;
      display: table-cell;
      vertical-align: middle;
      padding: 0 0 0 8%;
      img {
        display: block;
        height: 65px;
        width: 65px;
        margin-left: 70px;
      }
    }
    .main-home-header-right {
      width: 70%;
      display: table-cell;
      vertical-align: middle;
      ul {
        li {
          min-width: 60px;
          display: inline-block;
          /* margin-right: 40px; */
          text-align: center;
          border-radius: 3px;
          height: 28px;
          line-height: 28px;
          font-size: 14px;
          color: #FFF;
          font-weight: 600;
          margin-right: 10px;
          &:hover {
            cursor: pointer;
            background-color: #FFF;
            color: #000;
          }
        }
      }
    }
  }
}

/*宽高*/

//ie 删除输入的叉号以及小眼睛
input::-ms-clear {
  display: none;
}

textarea {
  overflow: auto;
} //去除ie下textarea输入框默认显示右侧滚动条的问题
/*上篇提到过，删除文本框中的叉号*/

input::-ms-reveal {
  display: none;
}

/*ie兼容placeholder*/

:-ms-input-placeholder {
  color: #c0c4cc;
}

/*删除密码框中的小眼睛*/

//火狐浏览器中,去输入框有默认的红色边框
input,
textarea,
select {
  /* appearance: none; */
  outline: none !important;
  box-shadow: none;
}

.h {
  height: 100%;
}

.h-0 {
  height: 0;
}

.w {
  width: 100%;
}

.main-icon {
  //字体图标全局样式
  // color:$color_blue;
  font-size: 20px;
}

.el-dialog {
  //弹框全局样式
  width: 400px !important;
  height: 420px;
  .el-dialog__header {
    height: 70px;
    box-sizing: border-box;
  }
  .el-dialog__body {
    padding: 0 40px;
    .log-center {
      //登录模块
      .el-form-item {
        .el-form-item__content {
          .el-button {
            width: 100%;
            background: linear-gradient(to right, #79BEFF, #448AFF);
            color: #FFFFFF;
            font-size: 14px;
            border-radius: 2px;
          }
        }
      }
      .third-login {
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0 40px;
        .line {
          height: 1px;
          width: 35px;
          background-color: rgba(0, 0, 0, 0.25);
          margin: 0 20px;
        }
      }
      .third-login-methods {
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          height: 40px;
          cursor: pointer;
          width: 40px;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}



.main-page {  //分页部分全局样式
  $wh: 26px;
  text-align: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.65);
  .el-pagination {
    padding: 0;
  }
  .el-pager{
    li {
    min-width: $wh;
    height: $wh;
    line-height: $wh;
    font-weight: normal;
    background: none;
    &.active {
      color: #FFF;
      border-radius: 2px;
    }
    &.btn-quicknext,
    &.btn-quickprev {
      &:before {
        line-height: 18px;
      }
    }
  }
}
  .el-pagination {
    .btn-next,
    .btn-prev {
      min-width: $wh;
      height: $wh;
      background: none;
      padding: 0;
      .el-icon {
        font-size: 14px;
      }
    }
    .el-pagination__sizes,
    .el-pagination__jump {
      transform: translate(0, -2px);
    }
    .el-pagination__sizes,
    .el-input__inner,
    .el-pagination__jump,
    .el-input__icon {
      line-height: 26px;
      height: 26px;
    }
    .el-pagination__sizes {
      margin-left: 8px;
    }
    .el-pagination__jump {
      margin-left: 7px;
    }
    .el-input--suffix {
      width: 85px;
    }
    .el-pagination__editor {
      .el-input__inner {
        width: 48px;
        margin-left: 4px;
        text-align: left;
        padding-left: 12px;
      }
    }
   
  }
  .el-pagination__jump{
    color: #FFF !important;
  }
}

.el-loading-mask{
  background-color: transparent;
}